{:paths ["src"]
 :deps  {com.github.seancorfield/honeysql  {:mvn/version "2.1.818"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.2.737"}
         environ/environ                   {:mvn/version "1.2.0"}
         metosin/muuntaja                  {:mvn/version "0.6.8"}
         metosin/reitit-malli              {:mvn/version "0.5.15"}
         metosin/reitit-middleware         {:mvn/version "0.5.15"}
         migratus/migratus                 {:mvn/version "1.3.5"}
         org.clojure/clojure               {:mvn/version "1.10.3"}
         org.postgresql/postgresql         {:mvn/version "42.2.23"}
         reifyhealth/specmonstah           {:mvn/version "2.0.0"}
         ring/ring                         {:mvn/version "1.9.4"}
         ring/ring-defaults                {:mvn/version "0.3.3"}}
 :aliases
 {:dev   {:extra-deps  {club.donutpower/sugar         {:local/root "../sugar"}
                        club.donutpower/system        {:local/root "../system"}
                        club.donutpower/endpoint      {:local/root "../endpoint"}
                        club.donutpower/endpoint-test {:local/root "../endpoint-test"}
                        hawk/hawk                     {:mvn/version "0.2.11"}
                        org.clojure/tools.namespace   {:mvn/version "1.1.0"}
                        ring/ring-mock                {:mvn/version "0.4.0"}}
          :extra-paths ["dev/src" "test"]}
  :build {:deps       {io.github.seancorfield/build-clj
                       {:git/tag "v0.1.2" :git/sha "0719a09"}}
          :ns-default build}}}
