{:paths ["src" "resources"]
 :deps  {aero/aero                         {:mvn/version "1.1.6"}
         com.github.seancorfield/honeysql  {:mvn/version "2.1.818"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.2.737"}
         com.lambdaisland/ornament         {:mvn/version "0.4.34"}
         environ/environ                   {:mvn/version "1.2.0"}
         metosin/muuntaja                  {:mvn/version "0.6.8"}
         metosin/reitit-malli              {:mvn/version "0.5.15"}
         metosin/reitit-middleware         {:mvn/version "0.5.15"}
         migratus/migratus                 {:mvn/version "1.3.5"}
         org.clojure/clojure               {:mvn/version "1.10.3"}
         org.postgresql/postgresql         {:mvn/version "42.2.23"}
         reifyhealth/specmonstah           {:mvn/version "2.0.0"}
         ring/ring                         {:mvn/version "1.9.4"}
         ring/ring-defaults                {:mvn/version "0.3.3"}}

 :aliases
 {:dev {:extra-deps  {club.donutpower/endpoint-test {:local/root "../endpoint-test"}
                      club.donutpower/routes        {:local/root "../routes"}
                      club.donutpower/middleware    {:local/root "../middleware"}
                      club.donutpower/sugar         {:local/root "../sugar"}
                      club.donutpower/system        {:local/root "../system"}
                      hawk/hawk                     {:mvn/version "0.2.11"}
                      org.clojure/tools.namespace   {:mvn/version "1.1.0"}
                      ring/ring-mock                {:mvn/version "0.4.0"}}
        :extra-paths ["dev/src" "test"]}

  :cljs {:extra-deps {org.clojure/clojurescript  {:mvn/version "1.11.4"}
                      club.donutpower/frontend   {:local/root "../frontend"}
                      day8.re-frame/re-frame-10x {:mvn/version "1.2.1"}
                      thheller/shadow-cljs       {:mvn/version "2.16.12"}}}

  :build {:deps       {io.github.seancorfield/build-clj
                       {:git/tag "v0.1.2" :git/sha "0719a09"}}
          :ns-default build}}}
